software/HexLev_proto/Library
software/HexLev_proto/Logs
software/HexLev_proto/UserSettings
20231124-134003-254.mp4
20231124-134354-976.mp4
vidph.mov
vidvox.mov
hex9.png
nophs_xy.png
nophs_xz.png
phs_xy.png
phy_xz.png
vox1.png
